<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxCoach</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="app">
        <!-- Crea struttura -->
        <header>
            <nav class="bg_blue_port_gore container">
                <div class="d_flex vw80">
                    <!-- Barra navigazione con 3 div rispettivamente .logo+.menu+.options -->
                    <div class="logo"><img :src="logo" alt=""></div>
                    <div class="d_flex">
                        <div v-for="item in menu" class="menu tx_capitalize">{{item}}<i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="options d_flex">
                        <i class="fas fa-cart-plus"></i>
                        <i class="fas fa-user-circle"></i>
                        <div class="search">
                            <input v-model="search" type="text" placeholder="Cerca">
                            <button class="search_button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </nav>
            <div class=" bg_blue_port_gore container">
                <div class="container hero  vw80 f_column">
                    <!-- Sfondo hero su più livelli di cui 3onde z-negativo con 2 div rispettivamente .hero_text+.hero_image -->
                    <div class="hero_text container green h_30">
                        <strong>Learn at your own pace!</strong>
                        <h4>Get teamed uo with people of the same will</h4>
                        <button>Get started for free</button>
                    </div>
                    <div class="hero_image container purple h_50">
                        <!-- 3div rispettivamente .hero_left+.hero_center+.hero_right -->
                    </div>
                </div>
            </div>
            <!-- Barra col bianco tramite gradient -->
        </header>
        <main>
            <div class="container bg_white">
                <div class="container vw80 f_column">
                    <!-- 3div rispettivamente .bg_white.text+.values+.clients.services -->
                            <!-- dopo il secondo div inserisci il bottone che dovrà portare allinizio della pagina --> 
                    <div class="bg_white text h_30 pink"></div>
                    <div class="values h_30 purple"></div>
                    <div class="clients services h_50 blue"></div>               
                </div>
            </div>
            <div class="container gray">
                <div class="container vw80 f_column">
                    <!-- 2div rispettivamente .courses_text+.courses_list (forse il button potrebbe andare fuori) -->
                    <div class="courses_text h_30 yellow"></div>
                    <div class="courses_list h_50 orange"></div>
                    <div class="button h_30 red"></div>
                </div>
            </div>
            <div class="container bg_white">
                <div class="container vw80 f_column">
                    <!-- 3div rispettivamente .about+.about_text+.logos -->
                    <div class="about h_30 yellow"></div>
                    <div class="about_text h_50 purple"></div>
                    <div class="logos h_30 pink"></div>
                </div>
            </div>
            <div class="container gray">
                <div class="container vw80 f_column">
                    <!-- 3div di cui i primi 2 simili .our_blogs+.learn+.started_now -->
                    <div class="our_blogs h_30 yellow"></div>
                    <div class="learn h_50 blue"></div>
                    <div class="started_now h_30 green"></div>
                </div>
            </div>
            <div class="container bg_white">
                <div class="container vw80 f_column">
                    <!-- 3div rispettivamente .learn+.learn_img+.button -->
                    <div class="learn h_30 yellow"></div>
                    <div class="learn_img h_50 purple"></div>
                    <div class="button h_30 pink"></div>
                </div>
            </div>
        </main>
        <footer class="container gray">
            <div class="container vw80 f_column">
                <div class=" f_top container vw80 f_column">
                    <!-- 2div rispettivamente .f_left+.f_right -->
                    <div class="f_left h_50 orange"></div>
                    <div class="f_right h_50 red"></div>
                </div>
                <div class="container f_bottom vw80">
                    <!-- .copyright -->
                </div>
            </div>
        </footer>
    </div>    
    <!-- Js & Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>