*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
/* Utlity */
.tx_capitalize{text-transform:capitalize;}
.tx_uppercase{text-transform:uppercase;}
.tx_center, .values>div{text-align: center;}

.copyright, .fontS_14{font-size: 14px;}
.f_fab, .fontS_30{font-size: 30px;}
.fontS_50{font-size: 50px;}

.over_hidden{overflow: hidden;}
.vw80{width: 60vw;}
.w100{width: 100%;}
.f_column{
    flex-direction: column;
    align-items: center;
}
.btn{
    padding: 10px;
    border-radius: 5px;
}
    /* Colori */
        .white, .options>i.fas{color: white;}   .bg_white{background-color: white;}
        .port_gore{color: #1f2154;}             .bg_blue_port_gore{background-color: #1f2154;}
        .jungle_green{color: #27ab94;}          .bg_jungle_green{background-color: #27ab94;}
        .gray_chateau{color: #9da1aa;}
        .hint_of_red{color: #f6f3f6;}           .bg_hint_of_red{background-color: #f6f3f6;}
    /* Dimenzioni */
        .vh_65{height: 65vh;}
        .h_80{height: 80px;}
        
    /* Margin */
    .m_left50{margin-left: 50px;}
    .m_left161{margin-left: 161px;}
    /* Padding */
        .p_5{padding: 5px;}
        .p_10{padding: 10px;}
        .p_20{padding: 20px;}
        .p_50tb{padding: 50px 0;}
/* Header */
.bg_blue_port_gore_gr{
    background: linear-gradient(to bottom, #1f2154, #1f2154 50%, #1f2154 85%, #ffffff 25%);}
.logo>img{width: 125px;}
.fa-chevron-down {
    font-size: 10px;
    padding: 0 3px;
}
.fa-user-circle{padding: 7px 15px;}
div.search{
    padding: 2px 5px;
    border-radius: 5px;
}
.search>input{
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100px;
}
.search_button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input:focus, button:focus {outline: none;}
.search>input, button{border: none;}

/* Hero */
.hero_text{
    padding-bottom: 40px;
}
.hero_image{
    margin-bottom: 3%;
}
.hero_left, .hero_right{position: relative;}
.hero_left>img{
    height: 100%;
    position: absolute;
    top: 3%;
    right: -50px;
}
.hero_center {
    z-index: 0;
    border: 20px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 21px 4px #6464649c;
    margin-right: 8px;
    position: relative;
}
.hero_center>img{
    width: 100%;
    height: 100%;
}
.layover>img{filter: grayscale(100%)}
.hero_center:hover img{filter: grayscale(0%)}
.layover>img:hover, button:hover{transform: scale(1.2)}
.layover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero_right>img{
    position: absolute;
    top: 65%;
}
/* /Hero */

/* Main */
    .phrase_text{padding: 80px 0;}
    .frase{
        font-size: 25px;
        padding: 0px 15%;
        line-height: 4rem;
    }
    .who_is{text-decoration: wavy;}
    .values{
        justify-content: space-around;
        width: 100%;
    }
    .valore{
        font-size: 40px;
        font-weight: 600;
        
    }
    .values>div{padding-bottom: 80px;}
    .values>div>span{font-weight: 600;}
    .courses_text{padding-bottom: 50px;}
    .card>img{
        width: 10px;
    }
/* Footer */
    footer{padding: 40px 0;}
    .f_top{width: 100%;}
    .f_top ul>li{
        font-size: 13px;
        list-style: none;
        line-height: 1.8rem;
    }
    .f_left{ width: 40%;}
    .f_right{
        width: 60%;
        justify-content: space-around;
    }
    .social_li{
        width: 50%;
        justify-content: space-around;

    }
    .social_li>i{
        margin-top: 1.8rem;
    }
/* DEBUG */
.h_27{  
    height: 80px;
    width: 100%;
}
    
    .gray{background-color: gray;}
    
    .red{background-color: red;}
    .blue{background-color: blue;}
    .yellow{background-color: yellow;}
    .green{background-color: green;}
    .orange{background-color: orange;}
    .purple{background-color: purple;}
    .pink{background-color: pink;}
    
    
    .h_30{height: 40px;
    width: 100%;}
    .h_50{height: 60px;
    width: 100%;
}
.d_flex{
    display: flex;
}
.container{
        display: flex;    
        justify-content: center;
    }