*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utlity */
.tx_capitalize{text-transform:capitalize;}
    /* Colori */
        /* color cube */
        .white{color: white;} .bg_white{color: white;}
        .port_gore{color: #1f2154;} .bg_blue_port_gore{background-color: #1f2154;}
    /* Dimenzioni */
        .vh_65{height: 65vh;}
        .h_80{height: 80px;}
        
    /* Margin */
    /* Padding */
#app{width: 100%;}
/* Header */
/* .logo{width: 250px;} */
.logo>img{width: 125px;}
.menu{
    padding-left: 10px;
    color: white;
}
.option{
    width: 100%;
}
.options>i.fas {
    color: white;
}
.search{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.search>input, .search_button {
    background-color: white;
}
.search>input{
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100px;
}
.search_button {
    color: #27ab94;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input:focus, button:focus {outline: none;}
.search>input, button{border: none;}
/* Main */
.vw80{width: 80vw;}
.f_column{
    flex-direction: column;
    align-items: center;
}

/* Footer */

/* DEBUG */
.h_27{  
    height: 80px;
    width: 100%;
}
    
    .gray{background-color: gray;}
    
    .red{background-color: red;}
    .blue{background-color: blue;}
    .yellow{background-color: yellow;}
    .green{background-color: green;}
    .orange{background-color: orange;}
    .purple{background-color: purple;}
    .pink{background-color: pink;}
    
    
    .h_30{height: 40px;
    width: 100%;}
    .h_50{height: 60px;
    width: 100%;
}
.d_flex{
    display: flex;
    justify-content: space-between;}
.container{
        display: flex;    
        justify-content: center;
    }